.header {
  height: 20vh;
}

.logo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  transform: translateY(20%);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px
}







/* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); Center the logo */
 
