
  .teacher-portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portal-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: rgb(150, 136, 100);
}

.portal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portal-title {
  font-size: 50px;
  margin: 5px;
}

.portal-buttons {
  display: flex;
  flex-direction: row;

}

.portal-buttons button {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 10%;
  background-color: rgb(111, 133, 111);
  font-size: 20px;
}
  
  