.teacher-portal {
    text-align: center;
    background-color: #a3926e;
    margin: 0;
    height: 80vh;
    width: 100vw;
  }
  
  .teacher-portal h1 {
    margin-bottom: 20px;
  }
  
  .teacher-portal button {
    display: inline-block;
    margin: 10px;
    width: 150px; 
    height: 150px; 
    border-radius: 30; 
    font-size: 16px;
    background-color: #688b65;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .teacher-portal button:hover {
    background-color: #2a7a37;
  }
  
  /* Style for mobile */
  @media screen and (max-width: 767px) {
    .teacher-portal button {
      display: block;
      margin: 10px auto;
      width: 200px; 
      height: 200px; 
    }
  }
  
  
  .container button:hover {
    background-color: #86c7a7;
  }
  
  /* Style for mobile */
  @media screen and (max-width: 767px) {
    .container button {
      display: block;
      margin: 10px auto;
    }
  }
  
  

  